[data-md-color-scheme="slate"] {
    --md-default-fg-color: #e5e7eb;
    --md-default-fg-color--light: #9ca3af;
    --md-default-fg-color--lighter: #6b7280;
    --md-primary-fg-color: #210330;
    --md-default-bg-color: #0f0017;
}

[data-md-color-scheme="slate"] .md-typeset h1,
[data-md-color-scheme="slate"] .md-typeset h2,
[data-md-color-scheme="slate"] .md-typeset h3 {
  color: #ffffff;
}

[data-md-color-scheme="default"] {
    --md-primary-fg-color: #210330;
}
